:root {
  --black: #000000;
  --green: #40ad48;
  --white: #ffffff;
  --red: #ff0000;
  --paleBlue: #93b9f6;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.BoxShadow {
  box-shadow: 5px 5px var(--black);
  border: 3px var(--black) solid;
  border-radius: 5px;
}

.BoxShadowLite {
  box-shadow: 3px 3px var(--black);
  border: 1px var(--black) solid;
  border-radius: 3px;
}

p,
input,
div {
  font-family: 'Comic Neue', cursive;
}
